* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #666666;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: antiquewhite;
    font-size: 22px;
    background-color: #383737;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

header a {
    text-decoration: none;
    color: antiquewhite;
}

#view-high-scores {
    margin-left: 5%;
}

#timer {
    margin-right: 5%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

#quiz-container {
    width: 80%;
    height: 70%;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#start-screen h1 {
    font-size: 32px;
    text-shadow: 3px 3px rgba(0,0,0,0.1);
}

#start-screen p {
    text-align: center;
    font-size: 18px;
}

#start-screen button {
    padding: 20px;
    border-radius: 8px;
    background-color: #666666;
    color: antiquewhite;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

#start-screen button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.questions {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#question-title {
    font-size: 32px;
    text-shadow: 3px 3px rgba(0,0,0,0.1);
    margin: 5vh 0
}

#multiple-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.choices {
    width: 10vw;
    padding: 20px 0;
    background-color: #666666;
    color: antiquewhite;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    margin: 5px 0;
}

.choices:hover {
    cursor: pointer;
}

.answer-response {
    font-size: 22px;
    width: 20vw;
    margin-top: 10px;
    font-style: italic;
    border-bottom: solid 2px black;
    text-shadow: 3px 3px rgba(0,0,0,0.1);
}

.final-page {
    background-color: cadetblue;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}